bin/
gradle/
docker-build.sh
docker-compose.yml
docker-push.sh
docker-run.sh
Dockerfile
gradlew
gradlew.bat
lombok.config
settings.gradle
etc/cas/config/cas.properties
etc/cas/config/log4j2.xml
etc/cas/saml
etc/cas/services
etc/cas/thekeystore
etc/thekeystore
src/main/jib
src/main/webapp/
LICENSE.txt
.DS_Store
build/
build/libs/
build/overlays/
build/resources/
build/tmp/
build/tomcat/
build/bootWarMainClassName
.gradle/
.settings/
.project
.classpath

src/main/resources/templates/error/workspace.code-workspace
.vscode
src/main/resources/META-INF
src/main/java

.idea/
